################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HTTPServerInDotnet/.vs/HTTPServerInDotnet
/HTTPServerInDotnet/HTTPServerInDotnet/obj
/CSharpFundamentals/.vs/CSharpFundamentals
/CSharpFundamentals/CSharpFundamentals/obj
/HTTPServerInDotnet/.vs/ProjectEvaluation
/CSharpFundamentals/CSharpFundamentals/bin/Debug/net8.0
/ExceptionHandlingInNET/.vs/ExceptionHandlingInNET
/CSharpFundamentals/.vs/ProjectEvaluation
/OOPSInCSharp/.vs
/OOPSInCSharp/OOPSInCSharp/bin/Debug/net8.0
/OOPSInCSharp/OOPSInCSharp/obj
/ExceptionHandlingInNET/ExceptionHandlingInNET/obj
/DependencyInjectionInNETCore/.vs/DependencyInjectionInNETCore
/DependencyInjectionInNETCore/DependencyInjectionInNETCore/obj
/ExceptionHandlingInNET/.vs/ProjectEvaluation
/CollectionsAndLinqInDotNet/.vs
/CollectionsAndLinqInDotNet/CollectionsAndLinqInDotNet/obj
/DependencyInjectionInNETCore/.vs/ProjectEvaluation
/DelegatesEventsAndCallbacksInNET/.vs/DelegatesEventsAndCallbacksInNET
/DelegatesEventsAndCallbacksInNET/DelegatesEventsAndCallbacksInNET/obj
/DelegatesEventsAndCallbacksInNET/.vs/ProjectEvaluation
/MultiThreadingInDotnet/.vs/MultiThreadingInDotnet
/MultiThreadingInDotnet/MultiThreadingInDotnet/obj
/AsyncProgrammingInDotNET/.vs
/AsyncProgrammingInDotNET/AsyncWebAPIExample/obj
/AsyncProgrammingInDotNET/AsyncWPFExample/obj
/MultiThreadingInDotnet/.vs/ProjectEvaluation
/SoftwarePrinciplesInDotNET/.vs/SoftwarePrinciplesInDotNET
/SoftwarePrinciplesInDotNET/SoftwarePrinciplesInDotNET/obj
/SoftwarePrinciplesInDotNET/.vs/ProjectEvaluation
